<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ulisfintech.artha">

    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.nfc" />
    <uses-feature android:name="FEATURE_NFC_HOST_CARD_EMULATION" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <queries>
        <package android:name="com.ulisfintech.arthacustomer" />

        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>

    <application>
        <activity
            android:name=".ui.UPIPinActivity"
            android:exported="true" />
    </application>

</manifest>